body {
  margin: 0;
  background: linear-gradient(90deg, #C2E9D6, #C2DFFE);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1058C3;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  opacity: 60%;
}
